*{margin: 0; padding: 0; }
html{font-size: 16px; color: #333;}
a{color: #333; text-decoration: none; display: block;}

header{background: slateblue; display: flex; justify-content: space-between;  color: #fff;}
header nav{width: 60%; }
header nav ul{display: flex; list-style: none; justify-content: space-between;}
header nav ul li{width: 25%;}
header nav ul li a{ color: #fff;}
